<!-- link the css -->
<link rel="stylesheet" href="/css/footer.css">

<!-- UI for footer -->
<div class="card footer">
    <div class="card-body">
      <strong>&#169;</strong> mithileshmarekar01@gmail.com
      <footer>
        <cite>Mithilesh Marekar</cite>
      </footer>
    </div>
  </div>